<ng-container class="dropdowns-container">
  <div class="form-group">
    <form [formGroup]="form">
      <app-input-text label="Código Proyecto" id="project-code-id" formControlName="projectCode" />

      <app-dropdown-required label="Centro de Gestión" id="management-center-dropdown"
        formControlName="managementCenter" [options]="(administrativeCentersOptions$ | async) || []" />

      <app-dropdown label="Estado" id="states-dropdown" formControlName="state"
        [options]="(statusByUserOptions$ | async) || []" />

      <app-dropdown label="Convocatoria" id="calls-dropdown" formControlName="announcement"
        [options]="(announcementOptions$ | async) || []" />

      <app-dropdown label="Proceso de Selección" id="selection-process-dropdown" formControlName="selectionProcess"
        [options]="(filterProccessSelectionOptions$ | async) || []" />

      <app-dropdown label="Tipo de Proyecto" id="project-yype-dropdown" formControlName="projectType"
      [options]="(projectTypeOptions$ | async) || []" />

      <div class="button-container">
        <app-button-secondary [label]="'LIMPIAR FILTROS'" (click)="onClearFilters()" />
        <app-button-primary [label]="'CONSULTAR'" [icon]="'search'" [type]="'button'" (click)="onSubmit()" />
      </div>
    </form>
  </div>
</ng-container>