::ng-deep .mat-horizontal-stepper-header-container {
  justify-content: space-between;
}

::ng-deep .mat-step-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

::ng-deep .mat-step-icon {
  width: 40px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #6cb743;
  color: #6cb743;
}

::ng-deep .mat-step-header.mat-step-done .mat-step-icon {
  background-color: white;
  border-color: #6cb743;
  color: #6cb743;
}

::ng-deep .mat-step-header.mat-step-selected .mat-step-icon {
  border-color: teal;
  color: teal;
}

::ng-deep .mat-step-label {
  margin-top: 8px;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
}

::ng-deep .mat-horizontal-stepper-line {
  border-top: 2px solid lightgray;
  width: 100%;
}

::ng-deep .mat-horizontal-stepper-header .mat-step-icon {
  color: black;
  background-color: rgb(236, 236, 236);
  width: 2.5em;
  height: 2.5em;
}

::ng-deep .mat-stepper-horizontal .mat-step.mat-step-selected mat-form-field {
  color: teal !important;
}

::ng-deep .mat-stepper-horizontal .mat-step.mat-step-selected mat-form-field .mat-form-field-outline {
  border-color: teal !important;
}

::ng-deep .mat-stepper-horizontal .mat-step.mat-step-selected mat-form-field .mat-form-field-label {
  color: teal !important;
}

::ng-deep .mat-stepper-horizontal .mat-step.mat-step-selected mat-form-field input {
  color: teal !important;
}

form {
  margin-top: 1em;
  background-color: rgb(236, 236, 236);
  width: 100%;
  padding: 2em;
}

.form-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
