.container {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
}

h1 {
  font-size: 1.2em;
  margin: 0;
  font-weight: normal;
}


.sidebar {
  background-color: #f0f0f0;
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
  background-color: #fff;
  overflow: auto;
  margin-right: 1em;
  margin: 1em;
}
